# --- Виртуальное окружение ---
# Исключаем стандартные папки виртуальных окружений
.venv/
venv/
env/
*.env

# --- Конфигурация и Секреты ---
# КРАЙНЕ ВАЖНО: Никогда не добавляйте файл с вашими секретами в Git!
.env

# --- Python ---
# Кэш и артефакты
__pycache__/
*.py[cod]
*$py.class

# Дистрибутивы и сборка
build/
dist/
*.egg-info/
*.egg

# --- IDE (VS Code) ---
.vscode/

# --- Тестирование ---
.pytest_cache/
coverage.xml
htmlcov/

# --- Базы данных ---
# Игнорируем локальные файлы БД (хотя мы используем MySQL, это хорошая практика)
*.db
*.sqlite
*.sqlite3

# --- Операционная система ---
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

username_filter.bloom
serviceAccountKey.json