# --------------------
# 1. Сборка и зависимости
# --------------------

# Python
.venv/
venv/
env/
*.env
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
*.egg

# Node.js / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist-ssr/
*.local

# Логи и кэш
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --------------------
# 2. Секреты и данные
# --------------------

# Секреты приложения
.env
username_filter.bloom
serviceAccountKey.json

# Загруженные пользователем файлы (КРАЙНЕ ВАЖНО ИГНОРИРОВАТЬ)
uploads/

# --------------------
# 3. IDE и OS
# --------------------

# IDE (IntelliJ / VS Code)
.idea/
*.iws
*.iml
*.ipr
.vscode/
!.vscode/extensions.json  # Разрешить отслеживание списка расширений
.DS_Store

# Операционная система
Thumbs.db
ehthumbs.db
Desktop.ini
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?